# Default values for dynamic-gateway-service.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

#-----------------------------------------------------------------------------
# gateway section
#
datapower:
  image:
# before final checkin remove this comment and make repo and tag be release values
    repository: ibmcom/datapower
    tag: 7.7.0.0.298019
    pullPolicy: IfNotPresent
    pullSecrets: 
    - name: datapower-pull-secrets
  env:
    # Should agree with .Values.requests.cpu if set. If not set or is 0 the env var will not be set.
    workerThreads: 
    # interactive should be true or false
    interactive: true
    # Should be on or off
    peeringEnableSSL: "on"
  replicaCount: 3
  gatewayPeeringLocalPort: 16380
  gatewayPeeringMonitorPort: 26380
  apicGatewayServiceLocalPort: 3000
  apicGatewayServiceLocalAddress: 0.0.0.0
  apicGatewayServiceTLSSecret:
  apiGatewayLocalAddress: 0.0.0.0
  apiGatewayLocalPort: 9443
  # Gateway MGMT variables
  # This value should either be 'enabled' or 'disabled'. Default is disabled
  webGuiManagementState: "disabled"
  webGuiManagementPort: 9090
  webGuiManagementLocalAddress: 0.0.0.0
  # This value should either be 'enabled' or 'disabled'. Default is disabled
  gatewaySshState: "disabled"
  gatewaySshPort: 9022
  gatewaySshLocalAddress: 0.0.0.0
  # This value should either be 'enabled' or 'disabled'. Default is disabled
  restManagementState: "disabled"
  restManagementPort: 5554
  restManagementLocalAddress: 0.0.0.0
  xmlManagementLocalAddress: 0.0.0.0
  xmlManagementLocalPort: 5550
  resources:
    requests:
      memory: 8Gi
      # cpu should agree with .Values.datapower.env.workerThreads
      cpu: 8
    limits:
      memory: 8Gi
      cpu: 8
      

service:
  type: ClusterIP


#-----------------------------------------------------------------------------
# Ingress Section
#
ingress:
  gateway:
    enabled: true
    enableTLS: false
    hosts:
    - name: gateway.acme.com
      # secretName: chart-example-tls
    annotations:
  gwd:
    enabled: true
    enableTLS: false
    hosts:
    - name: gwd.acme.com
    annotations:
