# Default values for dynamic-gateway-service.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

#-----------------------------------------------------------------------------
# gateway section
#
datapower:
  image:
    repository: ibmcom/datapower
    tag: 7.7.1.1.300826
    pullPolicy: IfNotPresent
    pullSecrets: 
    - name: datapower-pull-secrets
  env:
    # Should agree with .Values.requests.cpu if set. If not set or is 0 the env var will not be set.
    workerThreads:
    # interactive should be true or false
    interactive: true
    # Should be on or off
    peeringEnableSSL: "on"
    # Should be on or off
    tmsPeeringEnableSSL: "on"
    # Should be on or off
    enableTMS: "off"
    # peeringLogLevel sets log level for gateway-peering operation. Should only be internal, warning, notice, verbose, or debug.
    peeringLogLevel: "internal"
  replicaCount: 3
  gatewayPeeringLocalPort: 16380
  gatewayPeeringMonitorPort: 26380
  tmsPeeringLocalPort: 16381
  tmsPeeringMonitorPort: 26381
  apicGatewayServiceLocalPort: 3000
  apicGatewayServiceLocalAddress: 0.0.0.0
  apicGatewayServiceTLSSecret:
  # This value should either be 'on' or 'off'. Default is 'on'
  apicGatewayServiceV5CompatibilityMode: "on"
  apiGatewayLocalAddress: 0.0.0.0
  apiGatewayLocalPort: 9443
  configSequenceInterval:
  # Gateway MGMT variables
  # This value should either be 'enabled' or 'disabled'. Default is disabled
  webGuiManagementState: "disabled"
  webGuiManagementPort: 9090
  webGuiManagementLocalAddress: 0.0.0.0
  # This value should either be 'enabled' or 'disabled'. Default is disabled
  gatewaySshState: "disabled"
  gatewaySshPort: 9022
  gatewaySshLocalAddress: 0.0.0.0
  # This value should either be 'enabled' or 'disabled'. Default is disabled
  restManagementState: "disabled"
  restManagementPort: 5554
  restManagementLocalAddress: 0.0.0.0
  xmlManagementLocalAddress: 0.0.0.0
  xmlManagementLocalPort: 5550
  # This value should either be 'enabled' or 'disabled'. Default is enabled
  snmpState: "enabled"
  snmpLocalAddress: 0.0.0.0
  snmpPort: 1161
  storage:
    tmsPeering:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: 10Gi
  resources:
    requests:
      memory: 8Gi
      # cpu should agree with .Values.datapower.env.workerThreads
      cpu: 8
    limits:
      memory: 8Gi
      cpu: 8
      

service:
  type: ClusterIP


#-----------------------------------------------------------------------------
# Ingress Section
#

# This value can be ingress or route 
ingressType: "ingress"
ingress:
  gateway:
    enabled: true
    enableTLS: false
    hosts:
    - name: gateway.example.com
      # secretName: chart-example-tls
    annotations:
  gwd:
    enabled: true
    enableTLS: false
    hosts:
    - name: gwd.example.com
    annotations:
